{% extends "layout.html" %}

{% block body %}
    <section>
        <header class="home">
            Student, Developer.
        </header>
        <a class="mybutton" href="#middle">Learn more.</a>
    </section>

    <section class="par" id="middle">
        <header>
            Hi!
        </header>
        <nav>
            My name is Radu, I'm a 17 year old computer enthusiast. <br>
            I'm currently studying Computer Science in Valenii de Munte, Romania <br>
            and working as a Java Dev for Minecraft Servers and as a Game Dev <br>
            in my free time in Unity and Unreal Engine
        </nav>
        <ul>
            <a class="mybutton" href="projects">Projects</a>
            <a class="mybutton" href="degrees">Degrees</a>
            <a class="mybutton" href="contact">Contact</a>
        </ul>
    </section>


{% endblock %}